.grid {
  width: 95%;
  height: 93%;
  align-content: center;
  padding-top: 40px;
  padding-left: 40px;
  // background: lighten(grey, 10%);
  .gridContainer {
    width: 100%;
    height: 93vh;
    position: relative;
  }
}
