.show {
  height: 100%;
  width: 100%;

  .ratioContainer {
    background: lighten(grey, 20%);
    color: white;
    height: 15%;
    border: 1px solid grey;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      h2 {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
      }
      select {
        height: 20px;
        color: darken(grey, 10%);
        font-size: 15px;
      }
      input {
        width: 55px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
  .resizable {
    height: 85%;
    border: 1px solid grey;
  }
}
