.show {
  height: 100%;
  width: 100%;
  border-left: 2px solid darken(grey, 20%);

  .ratioContainer {
    background: darken(grey, 20%);
    color: white;
    height: 15%;
    width: 100%;
    display: grid;
    padding-top: 15px;
    h2 {
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
    select {
      height: 20px;
      width: 90%;
      margin-left: 10px;
      color: darken(grey, 80%);
      font-size: 15px;
    }
    .input {
      margin-left: 5px;
      input {
        width: 30%;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
  .resizable {
    // border: 1px solid lighten(grey, 20%);
    background: lighten(grey, 40%);
    height: 85%;
    padding: 10px;
  }
}
