.show {
  .container {
    .boxContainer {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      background: darken(grey, 10%);
      padding-top: 20px;
      padding-bottom: 20px;

      h2 {
        margin: 0;
        margin-right: 10px;
        margin-left: 10px;
        color: lighten(grey, 45%);
      }
      input {
        width: 10%;
        height: 20px;
      }
    }
    .ratioContainer {
      width: 100%;
      background: darken(grey, 20%);
      padding-top: 15px;
      padding-bottom: 15px;
      color: lighten(grey, 40%);
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        h2 {
          margin: 0;
          padding-left: 10px;
          padding-right: 10px;
        }
        select {
          width: 25%;
          height: 20px;
          color: darken(grey, 10%);
          font-size: 15px;
        }
        input {
          width: 35px;
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
  }
  .resizable {
    margin-top: 5%;
    // height: 44vh;
    // width: 66vh;
  }
}
