.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  // overflow: hidden;
  display: grid;
  grid-template-columns: repeat(11, 9.090909090909092%);
  grid-template-rows: repeat(12, 16.666666666666668%);
  grid-auto-rows: auto;
  max-width: 100%;
  .logoContainer {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 12;
    overflow: hidden;
    margin: 0;
  }
  .gridContainer {
    // height: 100%;
    // width: 100%;
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 10;
    // overflow: hidden;
  }
  .showContainer {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 10;
    grid-column-end: 12;
    overflow: hidden;
    width: 90%;
    // margin: 0;
  }
  .codeContainer {
    grid-row-start: 7;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 12;
    // margin: 0;
    // background: lighten(#1e2432, 20%);
    min-height: 400px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+84,1e2432+100,1e2432+100 */
    background: #3f4c6b; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #3f4c6b 84%,
      #1e2432 100%,
      #1e2432 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #3f4c6b 84%,
      #1e2432 100%,
      #1e2432 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #3f4c6b 84%,
      #1e2432 100%,
      #1e2432 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#1e2432',GradientType=0 ); /* IE6-9 */
  }
  .outputButton {
    display: none;
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(11, 9.090909090909092%);
    grid-template-rows: repeat(18, 16.666666666666668%);
    grid-auto-rows: auto;
    // grid-gap: 10px;
    .logoContainer {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 12;
      // height: 100px;
    }
    .gridContainer {
      grid-row-start: 2;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 12;
      width: 90%;
    }
    .showContainer {
      grid-row-start: 7;
      grid-row-end: 13;
      grid-column-start: 1;
      grid-column-end: 12;
      width: 100%;
      background: #3f4c6b;
      // padding: 20px;
    }
    .codeContainer {
      grid-row-start: 13;
      grid-row-end: 19;
      grid-column-start: 1;
      // grid-column-end: 12;
      height: 1100px;
    }
  }

  // @media (max-width: 800px) {
  //   .gridContainer {
  //     width: 100vw;
  //   }
  //   // move out of the window
  //   .showContainer {
  //     position: absolute;
  //     right: 0;
  //     top: 0;
  //     width: 100vw;
  //   }
  //   .close {
  //     -webkit-transform: translate(100vw, 0);
  //     -moz-transform: translate(100vw, 0);
  //     -ms-transform: translate(100vw, 0);
  //     -o-transform: translate(100vw, 0);
  //     transform: translate(100vw, 0);
  //     transition: all 0.5s ease-out;
  //     -webkit-transition: all 0.5s ease-out;
  //     -moz-transition: all 0.5s ease-out;
  //     -ms-transition: all 0.5s ease-out;
  //     -o-transition: all 0.5s ease-out;
  //   }
  //   .open {
  //     -webkit-transform: translate(0, 0);
  //     -moz-transform: translate(0, 0);
  //     -ms-transform: translate(0, 0);
  //     -o-transform: translate(0, 0);
  //     transform: translate(0, 0);
  //     transition: all 0.5s ease-out;
  //     -webkit-transition: all 0.5s ease-out;
  //     -moz-transition: all 0.5s ease-out;
  //     -ms-transition: all 0.5s ease-out;
  //     -o-transition: all 0.5s ease-out;
  //   }
  //   .outputButton {
  //     display: initial;
  //     position: absolute;
  //     bottom: 50%;
  //     right: 0;
  //     width: 50px;
  //     height: 100px;
  //     background: lightblue;
  //     border: 2px solid darken(lightblue, 5%);
  //     border-top-left-radius: 20px;
  //     border-bottom-left-radius: 20px;
  //     cursor: pointer;
  //     &:hover {
  //       background: darken(lightblue, 15%);
  //       border: 2px solid darken(lightblue, 20%);
  //     }
  //     .text {
  //       color: darken(lightblue, 50%);
  //       margin-top: 15px;
  //       margin-right: 10px;
  //       font-size: 20px;
  //       transform: rotate(-90deg);
  //       transform-origin: right bottom 0;
  //       -webkit-transform: rotate(-90deg);
  //       -moz-transform: rotate(-90deg);
  //       -ms-transform: rotate(-90deg);
  //       -o-transform: rotate(-90deg);
  //     }
  //   }
  // }
}
